/* CSS Styling for body */
body {
	background-color: #d9ffb3;
	
}

/* CSS Styling for header */
header {
	text-align: center;
}

header > div {
	background-image: url("../resources/restaurant_banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.jumbotron {
	font-family: 'Arial';
	color: lightgreen;
	font-weight: bold;
	text-shadow: 2px 2px 8px #FF0000;
	margin-bottom: 0px;
	
}

/*********** CSS Styling for forms **************/

.form-title {
	display: flex;
	justify-content: center;
}
	
.form-title h1 {
	font-family: 'Arial';
	color: green;
	padding: 40px;
	border-bottom: 2px solid green;
}

.form {
	display: flex;
	justify-content: center;
}

form {
	border: 2px solid green;
	padding: 25px;
	background-color: white;
	margin-bottom: 15%;
}

form label {
	font-family: 'arial';
	font-size: 14px;
	display: inline-block;
	width: 140px;
	text-align: left;
	margin-bottom: 20px;
}

form input[type=text],
form input[type=password],
form input[type=email] {
	border: 2px solid lightgreen;
	border-radius: 4px;
	line-height: 20px;
	padding-left: 3px;
}

/* FORMS CONTROLS */

.form-controls {
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
}

.form-controls input[type=submit],
.form-controls input[type=reset] {
	background-color: #15AE5C;
	font-family: 'arial';
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 10px 20px;
	border: none;
	margin-left: 1px;
}

/* FORMS CONTROLS: ON HOVER	 */
.form-controls input[type=submit]:hover,
.form-controls input[type=reset]:hover {
	cursor: pointer;
}

/****************** FOOTER ********************/

.footer {
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	background-color: blue;
	height: 100px;
}

footer > div:nth-child(2) {	
	
}


footer > div:nth-child(1) {
	
}
